

body {
  background-color: #f8f9fa; 
}


.file-upload-dropzone {
  border: 2px dashed #ced4da; 
  transition: all 0.2s ease-in-out;
}

.file-upload-dropzone.dragging {
  border-color: #0d6efd; 
  background-color: #e7f1ff;
}

.chat-bubble-content {
  text-align: justify;
}